<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <menuitem label="Filmes">
    <icon>fas:home fa-fw</icon>
    <menu>
      <menuitem label="Gêneros de filmes">
        <action>GeneroList</action>
        <icon>fas:address-card fa-fw</icon>
      </menuitem>
      <menuitem label="Países de origem">
        <action>PaisFormList</action>
        <icon>fas:address-card fa-fw</icon>
      </menuitem>
      <menuitem label="Diretores">
        <action>PessoaFormList</action>
        <icon>fas:adjust fa-fw</icon>
      </menuitem>
      <menuitem label="Cadastro de filme">
        <action>FilmeForm</action>
        <icon>fas:ad fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Administration}">
    <icon>fas:home fa-fw</icon>
    <menu>
      <menuitem label="_t{Programs}">
        <action>SystemProgramList</action>
        <icon>far:file-code fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Groups}">
        <action>SystemGroupList</action>
        <icon>fas:users fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Units}">
        <action>SystemUnitList</action>
        <icon>fas:university fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Users}">
        <action>SystemUserList</action>
        <icon>fas:user fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Menu editor}">
        <action>SystemMenuEditor</action>
        <icon>far:edit fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Arquivo de Filmes">
    <menu>
      <menuitem label="Lista de Filmes">
        <action>PublicoFilmeList</action>
        <icon>fas:ad fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logout">
    <icon>fas:sign-out-alt fa-fw</icon>
    <menu>
      <menuitem label="Logout">
        <action>LoginForm#method=onLogout#static=1</action>
        <icon>fas:sign-out-alt fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
</menu>
